div.nostalgic-bbs {
  div.nb-threads {
    ul {
      list-style-type: none;
      // padding-inline-start: 0;

      li.nb-threads-thread {
        display: inline;
        margin-right: 1rem;
        // font-size: smaller;

        .nb-threads-thread-id {
        }

        .nb-threads-thread-title {
        }

        .nb-threads-thread-comments-num {
        }

        .nb-threads-thread-invisible-num {
        }

        .nb-threads-thread-created-at {
        }

        .nb-threads-thread-updated-at {
        }
      }
    }

    table {
      // border: solid 1px black;

      tr {
        td {
          // border: solid 1px black;
        }

        td.center {
          text-align: center;
        }
      }

      tr.header {
        td {
          text-align: center;
          background: #ccffcc;
        }
      }

      tr.nb-threads-thread {
        .nb-threads-thread-id {
        }

        .nb-threads-thread-title {
        }

        .nb-threads-thread-comments-num {
        }

        .nb-threads-thread-invisible-num {
        }

        .nb-threads-thread-created-at {
        }

        .nb-threads-thread-updated-at {
        }
      }
    }
  }

  div.nb-thread {
    h1 {
      color: #485269;
      // margin-top: 20px;
      // font-size: 18px;
      // font-weight: 700;
    }

    .nb-thread-id {
    }

    .nb-thread-title {
    }

    .nb-thread-comments-num {
    }

    .nb-thread-invisible-num {
    }

    .nb-thread-created-at {
    }

    .nb-thread-updated-at {
    }
  }

  div.nb-comments {
    ul {
      list-style-type: none;
      // padding-inline-start: 0;

      li.nb-comment {
        border-width: 1px;
        border-style: none solid solid none;
        border-color: #ddd;
        background-color: #efefef;
        margin-bottom: 8px;
        padding: 8px;

        p.text {
          padding: 10px;
        }

        .nb-comment-id {
          margin-right: 5px;
        }

        .nb-comment-name {
          color: green;
          // font-size: 15px;
          margin-right: 5px;
        }

        .nb-comment-text {
          // font-size: 17px;
          font-size: 1.1rem;
          color: #333;
          overflow-wrap: break-word;
        }

        .nb-comment-dt {
          margin-right: 5px;
        }
      }
    }

    div.nb-comment {
      border: none;
      background: #ccffcc;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 10px;

      p.right {
        text-align: right;
        margin-top: 20px;
        margin-block-end: 0;
      }

      .nb-comment-id {
        margin-right: 5px;
      }

      .nb-comment-name {
        color: green;
        // font-size: 15px;
        margin-right: 5px;
      }

      .nb-comment-text {
        // font-size: 17px;
        font-size: 1.1rem;
        color: #333;
        overflow-wrap: break-word;
      }

      .nb-comment-dt {
        margin-right: 5px;
      }
    }
  }

  div.nb-form {
    width: 420px;

    div.right {
      text-align: right;
    }

    .nb-form-name-label {
    }

    .nb-form-name {
      width: 420px;
    }

    .nb-form-text-label {
    }

    .nb-form-text {
      width: 420px;
    }

    .nb-form-preview-button {
      margin: 5px 0;
    }

    .nb-form-post-button {
      margin: 5px 0;
    }
  }
}
